.App {
  text-align: center;
  height: 100%;
  background-color: whitesmoke;
}

.Layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 10%;
  width: 100%;
  margin: auto;
  background-color: rgb(50, 224, 96);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer {
  height: 10%;
  width: 100%;
  background-color: rgb(50, 224, 96);
}

.content {
  height: 80%;
  width: 100%;
  margin: 1rem;
}